{% extends "layout.twig" %}

{% block title %}- Privacy policy{% endblock title %}

{% block content %}

<div class="page-header">
  <h1>Privacy policy</h1>
</div>
	
<h3>Cnil</h3>
<p></p>
<h3>Mot de passe</h3>
<p></p>
<h3>Vie privée</h3>
<p></p>
<h3>Https</h3>
<p></p>


{% endblock content %}